/*
body {
  background: #CDCCCC;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 0.95em;
}

body {
  background: #CDCCCC;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 0.95em;
}

header {
  padding: 30px;
  
}

header h1 {
  margin: 0;
}

header h2 {
  text-align: center;
  font-family: "Lobster Two";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin: 0.1em 0 0 0;
  width: 333px;
}

#logo {
  background: url('images/logo.png') no-repeat;
  background-size: 100%;
  display: block;
  width: 333px;
  height: 118px;
}

article {
  padding: 0 30px;
  width: 89%;
}

article p {
  width: 95%;
  margin: 0.5em 0;
  line-height: 1.25em;
}

#logo_copy {
  background: url('images/logo.png') no-repeat;
  background-size: 100%;
  display: block;
  width: 333px;
  height: 118px;
}

header h2.copy {
  text-align: center;
  font-family: "Lobster Two";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin: 0.1em 0 0 0;
  width: 333px;
}

body.copy {
  background: #CDCCCC;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: normal;
  font-size: 0.95em;
}

header.copy {
  padding: 30px;
  
}

header h1.copy {
  margin: 0;
}

header h2.copy.clone3 {
  text-align: center;
  font-family: "Lobster Two";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin: 0.1em 0 0 0;
  width: 333px;
  color: red;
}
*/
@media only screen and (max-width : 700px) {
  #contact-form textarea {
    width: 450px;
    max-width: 600px;
  }
}

@media only screen and (max-width : 700px) {
  #contact-form textarea {
    width: 450px;
    max-width: 600px;
  }
}