span {
  margin: 10px 10px 10px 0px;
  padding: 10px 0 10px 0;
  color: red;
  font-size: 1.2em;
}

span {
  margin: 10px 10px 10px 0px;
  padding: 10px 0 10px 0;
  color: red;
  font-size: 1.2em;
}

div {
  margin: 10px 10px 10px 0px;
  padding: 10px 0 10px 0;
  color: red;
  font-size: 1.2em;
}

span {
  margin: 10px 10px 10px 0px;
  padding: 10px 0 10px 0;
  color: blue;
  font-size: 1.2em;
}