div {
	border :none;
  color: red;
  background: none;
  display: none;
  font: Arial;
}

div {
	border :none;
}

div {
  border :none;
  color: red;
  background: none;
  display: none;
  font: Arial;
}

div {
  border :none;
}
