.state-indicator {
  left: -999em;
  position: absolute;
  top: -999em;
}

@media only screen and (max-width: 480px) {
  .state-indicator {
    z-index: 480;
  }
}
@media only screen and (min-width: 481px) and (max-width: 753px) {
  .state-indicator {
    z-index: 754;
  }
}

@media only screen and (min-width: 754px) and (max-width: 899px) {
  .state-indicator {
    z-index: 900;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1108px) {
  .state-indicator {
    z-index: 1108;
  }
}

@media only screen and (min-width: 1109px) and (max-width: 1265px) {
  .state-indicator {
    z-index: 1265;
  }
}

@media only screen and (min-width: 1266px) {
  .state-indicator {
    z-index: 1450;
  }
}
