@charset "utf-8";

/* header */
.header-service {
	background: #fff;
	border: 1px solid #bfbfbf;
	margin: 0 0 10px;
	position: relative;
}

.header-service h2 {
	float: left;
	line-height: 37px;
	width: 148px;
}

.header-service h2 a {
	background: #4f87d5;
	color: #fff;
	display: block;
	padding: 0 10px 0 13px;
}

.header-service h2 a.on {
	opacity: 0.5;
}

.header-service h2 span {
	background: #fff;
	color: #4f87d5;
	display: inline-block;
	font-size: 12px;
	line-height: 26px;
	margin: 0 0 0 10px;
	text-align: center;
	vertical-align: middle;
	width: 56px;
}

.header-service h2 span i {
	margin-right: 0;
}

.header-service-list {
	float: right;
	line-height: 37px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 790px;
}

.header-service-list li {
	display: inline;
	font-size: 13px;
	margin: 0 0.5em 0 0;
	vertical-align: top;
}

.header-service-list li a {
	vertical-align: top;
}

.header-service-set {
	float: left;
	font-size: 12px;
	line-height: 37px;
	text-align: center;
	width: 60px;
}

.header-service-set a {
	color: #000;
}

.header-service .category-list-wrap {
	top: 100%;
}

.header-service .category-list-set .close {
	cursor: pointer;
	float: right;
	line-height: 32px;
}

.header-service .category-list-set .close span {
	display: inline-block;
	font-size: 21px;
	line-height: 32px;
	margin-right: 0.25em;
	vertical-align: middle;
}

/* news */
.news-lists li {
	padding-left: 8px;
}
.news-lists .newspr_for_tpxtext a {
	padding-left: 8px !important;
}

.news-lists li.setting {
	width: auto;
}

.news-area-left {
	width: 285px;
}

.news-area .module-inner,
.news-today {
	margin: 0;
	min-height: 328px;
}

.news-area .module-inner {
	padding: 0;
}

.news-ranking-area {
	margin-right: 10px;
	width: 304px;
}

.news-ranking-area .heading {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAMAAAAhxq8pAAAAmVBMVEUAAADJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHJriHE7y+kAAAAMnRSTlMAhfP59CK+HvuZJ+TdoPyq9Wgq52D4qHiwFC7qIY57R+XsTBbj8MN/lk9pHDvp/g243sRWGwMAAACASURBVHheZc1XDoQwDEXRGJjee4DpvZe3/8WN9ZAiLO5fjmzHhSQSVylGVB2QRAKEgVq9ETak2aK1O+hSe33dGAxHauMJQJ3O5vpcAD7NcjXV5QpYK24AbHdgiAHsFQ+wgZeP1k7811s8Ey8Wr8SbxTvxYfHp2Kts70+B3zL+FP6sgSBRkyKLmgAAAABJRU5ErkJggg==) 0 0 no-repeat;
	border-bottom: 1px solid #e3e3e3;
	color: #333;
	font-weight: bold;
	font-size: 13px;
	margin: 0 0 10px;
	padding: 0 30px 4px;
	line-height: 20px;
}

.news-ranking-area li {
	line-height: 1.3;
	margin: 0 0 6px;
}

.news-ranking-area a {
	display: block;
}

.news-ranking-area .news-ranking-number {
	color: #333;
	float: left;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}

.news-ranking-area .news-ranking-title {
	display: block;
	margin-left: 30px;
}

.news-ranking-note {
	color: #999;
	display: block;
	font-size: 12px;
	vertical-align: middle;
}

.news-ranking-area a:hover {
	text-decoration: none;
}

.news-ranking-area a:hover .news-ranking-word {
	text-decoration: underline;
}

.news-img .news-img-box {
	height: 81px;
	width: 145px;
}

.news-img .news-img-box img {
	max-height: 81px;
	max-width: 145px;
}

.news-img .txt {
	font-size: 13px;
	line-height: 1.4;
}

.news-area-footer ul.setting {
	padding: 3px 30px;
}

.news-tool .expansion .switch-on {
	background-color: #f27076;
}

.news-tool .expansion .switch-off {
	background-color: #979899;
}

.news-tool .expansion a:hover .switch-on {
	background: #979899;
}

.news-tool .expansion a:hover .switch-off {
	background: #4f87d5
}

/* custom-news */
.custom-news {
	width: 632px;
}

.custom-intro,
.custom-intro-note {
	margin: 0 auto;
	width: 350px;
}

.custom-genre {
	width: 575px;
}

.custom-inner .news-area-left,
.custom-inner .news-area-right {
	min-height: 0;
	width: 292px;
}

.custom-clip-none .thumb {
	background-image: url("../img/thumb-clip-news.jpg");
}

.custom-clip-none .thumb dl:before,
.custom-clip-none .thumb dl:after {
	left: 45px;
}

.custom-mynews .news-lists li {
	padding-left: 3px;
}

/* module */
.module-col2 {
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 10px;
}

/* today */
.lbnews {
	float: left;
	width: 302px;
}

.lbnews:first-child {
	margin-right: 18px;
}

.lbnews li {
	border-left: 3px solid #7e7f80;
	margin-left: 9px;
	position: relative;
}

.lbnews li:before {
	background: #7e7f80;
	border: 3px solid #fff;
	border-radius: 10px;
	content: "";
	display: inline-block;
	position: absolute;
	top: 13px;
	left: -7px;
	width: 5px;
	height: 5px;
}

.lbnews li a {
	display: block;
	min-height: 62px;
	margin-left: -12px;
	padding: 7px 7px 8px 24px;
	position: relative;
}

.lbnews li a:hover {
	text-decoration: none;
}

.lbnews li a:hover p {
	text-decoration: underline;
}

.lbnews li a:after {
	background: #7e7f80;
	border-left: 9px solid #e4e4e4;
	border-right: 290px solid #e4e4e4;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 3px;
}

.lbnews li a .thumb {
	background: #1a1a1a;
	margin-left: 3px;
	width: 82px;
	text-align: center;
	vertical-align: middle;
	float: right;
	height: 62px;
}
.lbnews li a .thumb:before {
	content: "";
	display: inline-block;
	height: 62px;
	width: 0;
	vertical-align: middle;
}

.lbnews li p {
	line-height: 1.2;
}

.lbnews li .thumb img {
	max-width: 82px;
	max-height: 62px;
	vertical-align: middle;
}

.lbnews li .time {
	background: #7e7f80 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUeNqMkTsOwkAMRL0U6aih4XcQ+lTUcBFyBy6QcBK4BzVSoCIloVoaMw4TYS0SwtKLtZOxE3tFVYXMQAkuIDKX1DvPQN6RgxOowRIMmWvqeedCxRzcwcp9xWN6a76Axx41Z7CTTygI7rwFC6u8gknSTZPz1GawzpH/+PzROQMPG7ABI2dS+Y4xuJn5ADYUg8PHGhz7bbT/bKMXcgoFh82YC+r2XiS5wYrbicyVv8GXAAMAV13x23AGcFMAAAAASUVORK5CYII=") 6px 50% no-repeat;
	color: #fff;
	display: block;
	font-size: 12px;
	margin: 0 0 6px;
	padding: 5px 0 3px 22px;
	position: relative;
	width: 68px;
}

.lbnews li .time:before {
	border: 10px solid transparent;
	border-right: 7px solid #7e7f80;
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	width: 0;
	height: 0;
}

.lbnews-note {
	color: #999;
	font-size: 12px;
	margin: 0 1.5em 0 0;
}

/* ranking */
.module-ranking-area .ranking-after {
	display: block;
}

/* zoom */
.zoom-img {
	float: left;
	width: 100px;
	height: 72px;
}

.zoom-img img {
	max-width: 100px;
	max-height: 72px;
}

.zoom-capcion {
	float: left;
	margin-left: 10px;
	width: 190px;
}

.zoom-capcion a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.4;
}

.zoom-capcion:before {
	display: inline-block;
	content: "";
	margin-left: -1px;
	height: 71px;
	vertical-align: middle;
	width: 1px;
}

.zoom-in {
	clear: both;
	padding: 10px 0 0;
}

.zoom-list {
	margin-right: 0;
}

/* personal */
.personal .hello {
	border-bottom: 1px solid #ccc;
	margin: 0 0 6px;
	padding: 0 2px 8px;
}

.personal-list-nobg {
	margin: 0 0 0 7px;
}

.personal-list .mail,
.personal-list .theme {
	float: left;
	width: 50%;
}

.personal-list .fortune {
	padding: 6px 0 8px;
}

.personal-list .fortune .edit span {
	float: left;
	margin: 0;
	line-height: 21px;
}

.personal-list .fortune .edit a {
	display: inline-block;
	vertical-align: middle;
}

.personal-list .fortune .all a {
	width: 130px;
}

.personal-list .fortune .edit .change {
	margin-left: 0.5em;
}

.personal-list-wrap {
	margin: 0;
	padding: 6px;
}

.personal-list-wrap .personal-list li {
	border-left: 1px solid #e3e3e3;
	border-top: 0;
	float: left;
	line-height: 20px;
	padding: 0 0 0 10px;
}

.personal-list-wrap .personal-list li img {
	margin-right: 4px;
}

.personal-list-wrap .personal-list li a {
	display: inline-block;
	vertical-align: middle;
}

.personal-list-wrap .personal-list li .count {
	color: inherit;
	display: block;
	text-align: center;
	font-size: 12px;
}

.personal-list-wrap .personal-list li .change {
	color: #000;
	margin-left: 0.5em;
	font-size: 12px;
	vertical-align: middle;
}

.personal-list-wrap .personal-list li .change a {
	color: #000;
}

.personal-list-wrap .personal-list li .change i {
	margin-right: 3px;
	vertical-align: middle;
}

.personal-list-wrap .personal-list .blog {
	width: 90px;
}

.personal-list-wrap .personal-list .fortune-today {
	width: 110px;
}

.personal-list-wrap .personal-list .point {
	width: 85px;
}

.personal-list-wrap .personal-list li:first-child {
	border-left: 0;
	padding-left: 0;
}

.personal-list-wrap .personal-list li a {
	padding: 0;
}

.personal .login-button {
	margin: 10px 0 0;
	text-align: right;
}

/* ディストリ版固有枠用 */

.module-col2.ocn-col2 {
	background: none;
	border: 0;
	margin: 0;
}